



<form>
	<h3> Patron Signup </h3>
	<input type="text">
	<input type="text">
	<input type="text">
	<input type="text">
	<input type="text">
	<!-- <button [routerLink]="[ 'patron' ]"></button> -->
</form>
<button (click)="login( 'patron' )"> Submit </button>


<form>
	<h3> Business Signup </h3>
	<input type="text">
	<input type="text">
	<input type="text">
	<input type="text">
	<input type="text">
	<!-- <button [routerLink]="[ 'business' ]"></button> -->
</form>
<button (click)="login( 'business' )"> Submit </button>



