



body {
	font-family: Tahoma;
	padding: 0 0 100px;
	margin: 0;
}

h1 {
	text-align: center;
	font-size: 30pt;
	margin: 0;
}

h2 {
	font-size: 24pt;
	margin: 0;
}

h3 {
	font-size: 20pt;
}

ul {
	list-style-type: none;
}

input {
	outline: none;
}

button {
	outline: none;
}



